{% extends "layouts/base.html" %}
{% block title %}Cadastro{% endblock %}
{% block content %}
    <h1>Cadastro</h1>
    {% if erro %}
        <p class="aviso">{{ erro }}</p>
    {% elif sucesso %}
        <p class="aviso">{{ sucesso }}</p>
    {% endif %}

    <form class="formCadastro" action="{% url 'cadastrar' %}" method="post">
        {% csrf_token %}
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome">
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email">
        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="senha">
        <label for="confirmar_senha">Confirmar senha:</label>
        <input type="password" name="confirmarSenha" id="confirmarSenha"> 
        <input type="hidden" name="admin" value="False">
        <button type="submit"><strong>Cadastrar</strong></button>
    </form>
{% endblock %}


<style>

h1 {
    font-size: 100px;
}

</style>
