{% extends "layouts/base.html" %}
{% block title %}Livros{% endblock %}
{% block content %}
{% load static %}
    <h1>Livros</h1>
    {% if erro %}
        <p class="aviso">{{ erro }}</p>
    {% endif %}
    {% if sucesso %}
        <p class="aviso">{{ sucesso }}</p>
    {% endif %}
    {% if livros %}
        <div class="filtroLivros">
            <label for="filtro">Filtrar por:</label>
            <select id="filtro" onchange="filtrarLivro(parentElement)" class="escolha">
                <option value="titulo">titulo</option>
                <option value="autor">autor</option>
                <option value="gênero">gênero</option>
            </select>
            <select name="genero" id="generoFiltro" style="display: none;" onchange="filtrarLivro(parentElement)">
                <option value="Ação" {% if livro.genero == 'Ação' %} selected {% endif %}>Ação</option>
                <option value="Aventura" {% if livro.genero == 'Aventura' %} selected {% endif %}>Aventura</option>
                <option value="Comédia" {% if livro.genero == 'Comédia' %} selected {% endif %}>Comédia</option>
                <option value="Drama" {% if livro.genero == 'Drama' %} selected {% endif %}>Drama</option>
                <option value="Ficção Científica" {% if livro.genero == 'Ficção Científica' %} selected {% endif %}>Ficção Científica</option>
                <option value="Romance" {% if livro.genero == 'Romance' %} selected {% endif %}>Romance</option>
                <option value="Terror" {% if livro.genero == 'Terror' %} selected {% endif %}>Terror</option>
            </select>
            <input type="text" id="filtroTexto" onkeyup="filtrarLivro(parentElement)" class="digitado">
        </div>

        <div class="ordenacaoLivros">
            <label for="ordenado">Ordenar por:</label>
            <select id="ordenado" onchange="ordenarLivro()">
                <option value="0">Título</option>
                <option value="1">Autor</option>
                <option value="2">Gênero</option>
            </select>

            <label for="ordem">Ordem:</label>
            <select id="ordem" onchange="ordenarLivro()">
                <option value="0">Crescente</option>
                <option value="1">Decrescente</option>
            </select>
        </div>
        <div class="livros">
            {% for livro in livros %}
                <div class="livro" style="background-image: url('{% static "img/livro.png" %}');">
                    <h2 class="titulo">{{ livro.titulo }}</h2>
                    <p class="autor">Autor:  {{ livro.autor }}</p>
                    <p class="gênero">Gênero: {{ livro.genero }}</p>
                    <p class="lancamento">Lançamento: {{ livro.lancamento|date:'d-m-Y' }}</p>
                    <p class="notaMedia">Nota Média: {{ livro.notaMedia }}</p>
                    <form action="{% url 'livro' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="livro" value="{{ livro.id }}">
                        <input type="submit" value="Ver mais" class="botao">
                    </form>
                </div>
            {% endfor %}
                </div>
    {% else %}
        <p>Nenhum livro cadastrado</p>
    {% endif %}
{% endblock %}