{% extends "layouts/base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <h1>Login</h1>
    {% if erro %}
        <p class="aviso">{{ erro }}</p>
    {% elif sucesso %}
        <p class="aviso">{{ sucesso }}</p>
    {% endif %}
    <form action="{% url 'logar' %}" method="post" class="formLogin">
        {% csrf_token %}
        <label class="email" for="email"><strong>E-mail:</strong></label>
        <input type="email" name="email" id="email">
        <label for="senha"><strong>Senha:</strong></label>
        <input type="password" name="senha" id="senha">
        <button type="submit"><strong>Entrar</strong></button>
    </form>
{% endblock %}


