{% extends "layouts/base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <h1>Login</h1>
    {% if erro %}
        <p>{{ erro }}</p>
    {% elif sucesso %}
        <p>{{ sucesso }}</p>
    {% endif %}

    <form action="{% url 'logar' %}" method="post">
        {% csrf_token %}
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email">
        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="senha">
        <button type="submit">Entrar</button>
    </form>
{% endblock %}