<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Site{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'cadastro' %}">Cadastro</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>Desenvolvido por:</p>
        <a href="" target="_blank" rel="">  Cauã Felipe Mahl</a>
        <a href="" target="_blank" rel="">  Luan Goularte Kist</a>
    </footer>
</body>
</html>
