<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../static/img/BookPost-favico.ico" type="image/x-icon">
    <title>{% block title %}Meu Site{% endblock %}</title>
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'livros' %}" class="logo"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
            <ul>
                {% if 'usuario' in request.session %}
                <li><a href="{% url 'livros' %}">Livros</a></li>
                <li><a href="{% url 'logout' %}">Sair</a></li>
                    {% if request.session.usuario.admin == True %}
                        <li><a href="{% url 'admin' %}">Admin</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'cadastro' %}">Cadastro</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>Desenvolvido por:</p>
        <a href="" target="_blank" rel="">  Cauã Felipe Mahl</a>
        <a href="" target="_blank" rel="">  Luan Goularte Kist</a>
    </footer>    

    <script src="{% static 'index.js' %}"></script>
</body>
</html>

<style scoped> 

footer a {
    color: #fff;
}

footer a:hover {
    transition: 0.5s;
    color: #FFD700;
}

</style>
